<div class="row marketing">
  <div class="col-lg-6">
    <h4>Problems</h4>
    <ul>
      <li>
        <a href="/problems/1">Problem 1</a>
      </li>
      <li>
        <a href="/problems/2">Problem 2</a>
      </li>
    </ul>
  </div>
</div>

