defmodule ElixirExperienceTest do
  <%= @code %>

  def run do
    """
      <%= @before_test %>
      <%= Enum.map @tests, fn [test, expected_result] -> %>
        <%= inspect(expected_result) %>@@@#{inspect __MODULE__.<%= String.strip(test) %>}@@@<%= test %>
      <% end %>
      <%= @after_test %>
    """
  end
end

ElixirExperienceTest.run |> IO.inspect
